In [7]:
import pandas as pd, numpy as np, seaborn as sns, random

from scipy.stats import norm, uniform

df = pd.read_csv('easy_testing.csv')
df.drop(columns = ['Unnamed: 0'], inplace=True)

#df = df.drop([16087,16088,16089,16090,16091,16092]) #df = df.drop([42151,42152,42153,42154,42155,42156])
#df = df.drop([43496,43497,43498,43499,43500,43501])

df['Team'].iloc[36674:36679] = 'VivoKeyd'            # Vivo keyd e Team Vikins ambos são 'VKS', e jogaram um contra o outro 

#df = df.reset_index(drop = True)

C:\Users\brunO\AppData\Local\Temp\ipykernel_16164\3456156134.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Team'].iloc[36674:36679] = 'VivoKeyd'            # Vivo keyd e Team Vikins ambos são 'VKS', e jogaram um contra o outro

In [8]:
def separador(df):
    # As partidas estão separadas por linhas "NaN", isto cria uma coluna dizendo se a linha separa uma partida ou não
    temp = df.isnull().apply(lambda x: all(x), axis=1)
    #df = pd.concat([df, ], axis = 1)

    # # recupera os índices das linhas que separam as partidas para usar em laços
    separa = temp[temp == True].index.tolist()
#   separa = [-1] + separa               # garante que pega a primeira partida se a primeira linha não é NaN
    separa = separa + [len(temp)]        # garante que pega a  última  partida se a  última  linha não é NaN
    return separa

In [9]:
def RatingJogador(df, separa, função = 'nenhuma'):
    retorno = pd.DataFrame()
    for i in range(len(separa)-1):        
        try:
            ratings = df.loc[separa[i]+1:separa[i+1]-1, ['R','Team','Player-name']]

            times = ratings['Team'].unique()

            time0 = ratings['R'][ratings['Team'] == times[0]]
            time1 = ratings['R'][ratings['Team'] == times[1]]

            #geom = (time1.max()*time2.max())**(1/2)
            #std1 = time1.std()
            #std2 = time2.std()
            #print('std1: ', media1*std1, geom, media1, time1.max(), time1.min())
            #print('std2: ', media2*std2, geom, media2, time2.max(), time2.min())
            
            if função == 'media':
                media0 = time0.mean()
                media1 = time1.mean()
                
                temp1 = ratings['R'][ratings['Team'] == times[0]]*media1
                temp4 = ratings['R'][ratings['Team'] == times[1]]*media0   
                
            else:
                temp1 = ratings['R'][ratings['Team'] == times[0]]
                temp4 = ratings['R'][ratings['Team'] == times[1]] 
                
            temp2 = ratings['Player-name'][ratings['Team'] == times[0]]
            temp3 = pd.concat([temp1, temp2], ignore_index = True, axis = 1)
    
            temp5 = ratings['Player-name'][ratings['Team'] == times[1]]
            temp6 = pd.concat([temp4, temp5], ignore_index = True, axis = 1)

            temp = pd.concat([temp3, temp6], ignore_index=True, axis = 0)

            assert(~(temp[0].isnull().any()))

            retorno = pd.concat([retorno, temp], ignore_index = True, axis = 0)

        except:
            print('partida pulada:\n', ratings)
            pass

    retorno.rename(columns = {0:'R', 1:'Player-name'}, inplace= True)
    return retorno

In [10]:
separa = separador(df)
R_pred = RatingJogador(df, separa)
R_pred

partida pulada:
           R Team Player-name
16088  1.58  FNG      SmokeA
16089  1.49  FNG          B2
16090  1.33  FNG      Cactus
16091  1.04  FNG     Kohliii
16092  0.98  FNG    Maverick
partida pulada:
           R Team Player-name
42151  0.98  UDG      krysyS
42152  0.96  UDG       ranko
42153  0.93  UDG     bbreakG
42154  0.83  UDG       ttego
42155  0.77  UDG      pwNN3D
partida pulada:
           R Team   Player-name
43497  1.10   GG       DoubleD
43498  1.01   GG  littlesataN1
43499  0.93   GG        Morthe
43500  0.89   GG        Vinice
43501  0.86   GG        Ekriiz
partida pulada:
           R  Team Player-name
51885  2.09  Gian        Toki
51886  1.93  Gian       Paula
51887  1.59  Gian    MissLaia
51888  1.12  Gian      Metzly
partida pulada:
           R Team Player-name
58627  1.61   EG     BRANTED
58628  1.23   EG    Reformed
58629  1.21   EG        roca
58630  1.10   EG         pho
58631  0.71   EG     Boostio
partida pulada:
            R  Team Player-name
121956  0.79  Team      Jaxsen
121957  0.72  Team       balls
121958  0.59  Team  koochibong
121959  0.57  Team        Chet
121960  0.34  Team       Chobo
121961  2.00  Team      P0PPIN
121962  1.82  Team      jammyz
121963  1.13  Team     tokibbi
121964  0.97  Team        PROD
121965  0.96  Team        emmy
partida pulada:
            R  Team Player-name
121967  1.17  Team      Xeppaa
121968  0.86  Team       steel
121969  0.78  Team        brax
121970  0.65  Team    Stewie2k
121971  0.62  Team     Zellsis
121972  1.36  Team      Nurfed
121973  1.23  Team    Critical
121974  1.13  Team        Lear
121975  1.12  Team       WeDid
121976  1.06  Team       ethos
partida pulada:
            R  Team Player-name
121978  1.29  Team    Governor
121979  0.77  Team         ban
121980  0.62  Team       valyn
121981  0.55  Team       trent
121982  0.50  Team     a2guapo
121983  1.48  Team     Subroza
121984  1.42  Team      zekken
121985  1.15  Team       corey
121986  1.11  Team     BABYBAY
121987  1.03  Team      POISED
partida pulada:
            R  Team Player-name
121989  1.44  Team       BabyJ
121990  1.41  Team   iiTzTimmy
121991  1.33  Team     jawgemo
121992  1.06  Team       Rossy
121993  0.75  Team   Masayoshi
121994  1.06  Team     Jonaaa6
121995  1.01  Team     PureVNS
121996  0.79  Team        Grim
121997  0.68  Team       Keeoh
121998  0.50  Team       shiro
partida pulada:
            R  Team Player-name
122000  1.03  Team      jammyz
122001  0.73  Team        PROD
122002  0.69  Team     tokibbi
122003  0.67  Team      P0PPIN
122004  0.31  Team        emmy
122005  1.57  Team      Nurfed
122006  1.48  Team        Lear
122007  1.47  Team    Critical
122008  1.22  Team       ethos
122009  1.04  Team       WeDid
partida pulada:
            R  Team Player-name
122011  1.69  Team     Subroza
122012  1.33  Team      zekken
122013  0.96  Team       corey
122014  0.83  Team     BABYBAY
122015  0.74  Team      POISED
122016  1.12  Team   iiTzTimmy
122017  1.00  Team       Rossy
122018  0.91  Team       BabyJ
122019  0.91  Team     jawgemo
122020  0.57  Team   Masayoshi
partida pulada:
            R  Team Player-name
122022  1.11  Team        Lear
122023  1.08  Team    Critical
122024  1.04  Team       WeDid
122025  0.99  Team       ethos
122026  0.83  Team      Nurfed
122027  1.36  Team      zekken
122028  0.96  Team      POISED
122029  0.92  Team     BABYBAY
122030  0.91  Team       corey
122031  0.79  Team     Subroza
partida pulada:
            R  Team   Player-name
126334  1.18  Team         trent
126335  1.14  Team      sarahcat
126336  1.07  Team       ShahZaM
126337  0.81  Team           yay
126338  0.62  Team          dapr
126339  1.45  Team    florescent
126340  1.38  Team     Cryocells
126341  1.15  Team           BcJ
126342  0.81  Team  AverageJonas
126343  0.55  Team        vanity
partida pulada:
            R  Team Player-name
126345  1.41  Team         tex
126346  1.40  Team      Shanks
126347  0.85  Team       flyuh
126348  0.81  Team      Marved
126349  0.76  Team      POISED
126350  1.38  Team      Xeppaa
126351  1.18  Team        bdog
126352  0.96  Team       keenc
126353  0.76  Team        PROD
126354  0.76  Team     Zellsis
partida pulada:
            R  Team Player-name
126356  1.14  Team      zekken
126357  1.09  Team       valyn
126358  1.03  Team       Ethan
126359  0.99  Team    Stewie2k
126360  0.52  Team    bunnybee
126361  1.50  Team       corey
126362  1.29  Team        eeiu
126363  1.02  Team         s0m
126364  0.80  Team     Subroza
126365  0.65  Team       NiSMO
partida pulada:
            R  Team Player-name
126367  1.30  Team     Zellsis
126368  0.96  Team        bdog
126369  0.92  Team        PROD
126370  0.75  Team       keenc
126371  0.67  Team      Xeppaa
126372  1.22  Team         yay
126373  1.18  Team        dapr
126374  1.16  Team    sarahcat
126375  0.94  Team       trent
126376  0.92  Team     ShahZaM
partida pulada:
            R  Team   Player-name
126389  1.23  Team           tex
126390  1.11  Team        Shanks
126391  1.06  Team        Marved
126392  0.82  Team        POISED
126393  0.70  Team         flyuh
126394  1.47  Team     Cryocells
126395  1.24  Team        vanity
126396  1.16  Team           BcJ
126397  0.75  Team  AverageJonas
126398  0.73  Team    florescent
partida pulada:
            R  Team Player-name
126411  1.44  Team         tex
126412  1.03  Team       flyuh
126413  0.95  Team      Marved
126414  0.94  Team      Shanks
126415  0.91  Team      POISED
126416  1.25  Team       Ethan
126417  1.18  Team      zekken
126418  0.99  Team       valyn
126419  0.85  Team    Stewie2k
126420  0.48  Team    bunnybee
partida pulada:
            R  Team   Player-name
127998  0.99  CSUF      Simplehy
127999  0.89  CSUF        JChee1
128000  0.84  CSUF        6ixxer
128001  0.74  CSUF  quacksmack69
128002  0.58  CSUF         Retun
128003  1.26  CSUF    Endocrysis
128004  1.26  CSUF        pashab
128005  1.21  CSUF      Eloosive
128006  1.17  CSUF       Volante
128007  1.17  CSUF         j3lly

           R Player-name
0       1.16      Jinggg
1       1.08        FREY
2       0.96   Salvestro
3       0.92      Maskon
4       0.86        artn
...      ...         ...
150644  1.30      Victor
150645  1.25         s0m
150646  1.17      ardiis
150647  1.08    crashies
150648  1.05     FiNESSE

[150649 rows x 2 columns]

In [11]:
partidas_olhadas = 10
prep = R_pred.groupby('Player-name').count()> (partidas_olhadas - 1)

In [12]:
prep = prep[prep['R']]

In [7]:
dfinal = pd.DataFrame(columns = range(partidas_olhadas))
for player, _ in prep.iterrows():
    temp = R_pred[R_pred['Player-name'] == player]
    dfinal = pd.concat(   [dfinal,
                           pd.DataFrame(temp.iloc[len(temp)-partidas_olhadas:,0].reset_index(drop = True)).T.reset_index(drop = True)],
                  ignore_index = True)
    #for i in range(n_matches-partidas_olhadas):
    #    dfinal = pd.concat(   [dfinal,
    #                  pd.DataFrame(temp.iloc[i:i+partidas_olhadas,0].reset_index(drop = True)).T.reset_index(drop = True)],
    #              ignore_index = True)
dfinal

         0     1     2     3     4     5     6     7     8     9
0     1.04  1.13  0.72  0.76  0.48  0.85  0.68  0.52  0.97  0.96
1     1.34  0.41  1.17  0.98  1.08  1.33  0.57  1.04  0.90  0.96
2     0.61  0.94  0.64  1.18  0.47  1.27  0.78  1.06  1.27  0.66
3     0.25  0.76  0.70  0.45  0.79  1.02  0.58  1.09  0.62  1.08
4     0.61  0.60  0.95  0.92  0.91  0.58  0.93  0.82  0.58  0.58
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
3138  0.66  1.48  0.70  1.60  1.05  1.20  1.45  0.84  0.85  0.83
3139  1.26  0.90  0.85  0.98  0.80  1.06  1.21  0.75  0.77  0.55
3140  0.81  1.00  0.62  0.64  0.66  0.99  0.53  0.62  0.80  1.26
3141  1.15  1.28  1.35  1.02  1.12  0.96  0.83  0.59  0.74  0.99
3142  0.52  0.76  0.81  0.78  1.00  0.63  0.83  0.67  0.70  1.08

[3143 rows x 10 columns]

In [13]:
dfinal = pd.DataFrame(columns = range(partidas_olhadas))
for player, _ in prep.iterrows():
    temp = R_pred[R_pred['Player-name'] == player]
    n_matches = len(temp)
    for i in range(n_matches-partidas_olhadas):
        dfinal = pd.concat(   [dfinal,
                      pd.DataFrame(temp.iloc[i:i+partidas_olhadas,0].reset_index(drop = True)).T.reset_index(drop = True)],
                  ignore_index = True)
dfinal

           0     1     2     3     4     5     6     7     8     9
0       1.47  1.48  0.76  0.68  1.18  0.29  1.43  0.77  1.04  1.13
1       1.48  0.76  0.68  1.18  0.29  1.43  0.77  1.04  1.13  0.72
2       0.76  0.68  1.18  0.29  1.43  0.77  1.04  1.13  0.72  0.76
3       0.68  1.18  0.29  1.43  0.77  1.04  1.13  0.72  0.76  0.48
4       1.18  0.29  1.43  0.77  1.04  1.13  0.72  0.76  0.48  0.85
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
100660  1.07  1.00  0.79  1.22  1.15  1.28  1.35  1.02  1.12  0.96
100661  1.00  0.79  1.22  1.15  1.28  1.35  1.02  1.12  0.96  0.83
100662  0.79  1.22  1.15  1.28  1.35  1.02  1.12  0.96  0.83  0.59
100663  1.22  1.15  1.28  1.35  1.02  1.12  0.96  0.83  0.59  0.74
100664  0.73  0.52  0.76  0.81  0.78  1.00  0.63  0.83  0.67  0.70

[100665 rows x 10 columns]

In [9]:
#dfinal = dfinal.sample(frac = 1)
#dfinal

In [35]:
X = dfinal.iloc[:,0:partidas_olhadas-1]
y = dfinal.iloc[:,partidas_olhadas-1]
print(X, y)

           0      1        2        3         4         5          6  \
0       1.47  94.72   554.04  2785.28  18437.50  13530.24  168238.07
1       1.48  48.64   495.72  4833.28   4531.25  66718.08   90589.73
2       0.76  43.52   860.22  1187.84  22343.75  35925.12  122354.96
3       0.68  75.52   211.41  5857.28  12031.25  48522.24  132943.37
4       1.18  18.56  1042.47  3153.92  16250.00  52721.28   84707.28
...      ...    ...      ...      ...       ...       ...        ...
100660  1.07  64.00   575.91  4997.12  17968.75  59719.68  158826.15
100661  1.00  50.56   889.38  4710.40  20000.00  62985.60  120001.98
100662  0.79  78.08   838.35  5242.88  21093.75  47589.12  131766.88
100663  1.22  73.60   933.12  5529.60  15937.50  52254.72  112943.04
100664  0.73  33.28   554.04  3317.76  12187.50  46656.00   74118.87

                7          8
0       201850.88  122354.96
1       272629.76  132943.37
2       296222.72   84707.28
3       188743.68   89413.24
4       199229.44   56471.52
...           ...        ...
100660  267386.88  131766.88
100661  293601.28  112943.04
100662  251658.24   97648.67
100663  217579.52   69412.91
100664  217579.52   78824.83

[100665 rows x 9 columns] 0         1.13
1         0.72
2         0.76
3         0.48
4         0.85
          ...
100660    0.96
100661    0.83
100662    0.59
100663    0.74
100664    0.70
Name: 9, Length: 100665, dtype: float64

In [51]:
from sklearn.model_selection import train_test_split
#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()

state = random.randint(0,2000)
print(state)

#scaler.fit(X)
#X = scaler.transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=state)


#scaler.fit(X_train)
#X_train = scaler.transform(X_train)
#X_test = scaler.transform(X_test)

1830

In [52]:
from sklearn.neural_network import MLPRegressor

for alph in 10.0 ** -np.arange(0, 7):
        
    regr = MLPRegressor(random_state= abs(state-53),
                        solver = 'sgd',
                        learning_rate = 'adaptive',
                        max_iter=10000,
                        learning_rate_init = 0.1,
                        hidden_layer_sizes=[50,50],
                        activation = 'logistic',
                        alpha = alph,
                        tol = 1e-5,
                        n_iter_no_change = 25
                       )
    #regr.fit(X,y)
    regr.fit(X_train, y_train)
    print('Para alpha =', alph)
    print( 'teste: ', regr.score(X_test, y_test), 'treino: ', regr.score(X_train, y_train), '\n')

Para alpha = 1.0
teste:  -3.1545054124393346e-08 treino:  -1.3498091533392653e-12

Para alpha = 0.1
teste:  0.0561882822009 treino:  0.05475050893664235

Para alpha = 0.01
teste:  0.061451119381075725 treino:  0.059610053605946844

Para alpha = 0.001
teste:  0.06146760444410837 treino:  0.059632716900907656

Para alpha = 0.0001
teste:  0.0614440166989636 treino:  0.059617309788975614

Para alpha = 1e-05
teste:  0.061441211349564484 treino:  0.05961546979474153

Para alpha = 1e-06
teste:  0.0614409259885903 treino:  0.05961528255282056

In [ ]:
help(regr)

In [ ]:
sns.lineplot(x = y_test[:200].index, y = y_test[:200], color ='lightblue')
sns.lineplot(x = y_test[:200].index, y = regr.predict(X_test)[:200], color='yellow')

In [ ]:
normal = []
for _ in range(len(regr.predict(X_test))):
    normal.append(norm.rvs(loc = 0, scale = 0.02))


sns.histplot(normal)
#elp(norm)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,regr.predict(X_test))

In [ ]:
help(uniform)

In [13]:
sns.histplot(X.iloc[:, 3], bins = 10)

'asbleruerelu'