In [1]:
import pandas as pd, numpy as np, re

In [2]:
def adicionar_lados(df, column):
    # # dada uma coluna 'column' do dataframe 'df', adiciona ao dataframe as colunas 'column'-t e 'column'-ct identicas a 'column'
    # # e ordena as colunas de forma que 'column' é sempre seguida de 'column-t' e 'column-ct'
    # # exemplo: se df possui colunas ['Rating', 'ACS'],
    # # adicionar_lados(df,'rating') retorna df com colunas ['Rating', 'Rating-t', 'Rating-ct', 'ACS']
    
    if not (column in df.columns):
        print('A coluna não existe no dataframe')
        return
    
    temp = df[[column]].copy()
    df = pd.concat( [df, temp.rename(columns = {column : column+'-t'}) ] , axis = 1)
    df = pd.concat( [df, temp.rename(columns = {column : column+'-ct'}) ] , axis = 1)
    del temp
    
    colunas_old = df.columns.tolist()
    r = colunas_old.index(column)
    colunas_new = colunas_old[0:r+1] + colunas_old[-2:] + colunas_old[r+1:-2]
    df = df[colunas_new]
    
    return df

In [3]:
df = pd.read_csv('todos_os_dados_final.csv', low_memory = False)

In [4]:
df = df.drop(columns = ['Unnamed: 0.3','Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 1', 'Map 1Unnamed: 1', 'Map 2Unnamed: 1',
                       'Map 3Unnamed: 1', 'Map 4Unnamed: 1', 'Map 5Unnamed: 1'])

df = df.rename(columns = {'Unnamed: 0' : 'Player-name', 'Map 1Unnamed: 0' : 'Map 1Player-name',
                          'Map 2Unnamed: 0' : 'Map 2Player-name', 'Map 3Unnamed: 0' : 'Map 3Player-name',
                          'Map 4Unnamed: 0' : 'Map 4Player-name', 'Map 5Unnamed: 0' : 'Map 5Player-name',
                         '+/–' : 'K-D', 'Map 1+/–': 'Map 1K-D', 'Map 2+/–': 'Map 2K-D', 
                         'Map 3+/–': 'Map 3K-D', 'Map 4+/–': 'Map 4K-D', 'Map 5+/–': 'Map 5K-D',
                         '+/–.1' : 'FK-FD', 'Map 1+/–.1': 'Map 1FK-FD', 'Map 2+/–.1': 'Map 2FK-FD', 
                         'Map 3+/–.1': 'Map 3FK-FD', 'Map 4+/–.1': 'Map 4FK-FD', 'Map 5+/–.1': 'Map 5FK-FD'})

In [5]:
lista1 = ['R', 'ACS', 'K', 'A', 'ADR', 'FK', 'FD']
lista2 = ['D']
lista3 = ['KAST', 'HS%']
lista4 = ['K-D', 'FK-FD']
listas = [lista1, lista2, lista3, lista4]

temp_4 = []
for lista in listas:
    temp = []
    for elemento in lista:
        temp.append(elemento)
        temp.append('Map 1'+elemento)
        temp.append('Map 2'+elemento)
        temp.append('Map 3'+elemento)
        temp.append('Map 4'+elemento)
        temp.append('Map 5'+elemento)
    temp_4.append(temp)
listas = temp_4
del temp_4

regex1 = '\d+[.]\d+|\d+'
regex2 = '\d+'
regex3 = '\d+(?=%)'
regex4 = '(?<=\+)\w+|\d+[.]\d+|[-]\d+[.]\d+|[-]\d+|\d+'
regexs = [regex1, regex2, regex3, regex4]

In [6]:
for i in range(len(listas)):
    for coluna in listas[i]:
        df = adicionar_lados(df, coluna)

In [7]:
for i in range(len(listas)):
    for coluna in listas[i]:
        col = []
        col_t = []
        col_ct = []
        for elemento in df[coluna].astype('str'):
            novos_elementos = re.findall(regexs[i], elemento)
            if len(novos_elementos) == 3:
                col.append(float(novos_elementos[0]))
                col_t.append(float(novos_elementos[1]))
                col_ct.append(float(novos_elementos[2]))
            elif len(novos_elementos) == 1 or len(novos_elementos) == 2:
                col.append(float(novos_elementos[0]))
                col_t.append(np.nan)
                col_ct.append(np.nan)
            else:
                col.append(np.nan)
                col_t.append(np.nan)
                col_ct.append(np.nan)
        df[coluna] = pd.Series(col)
        df[coluna+'-t'] = pd.Series(col_t)
        df[coluna+'-ct'] = pd.Series(col_ct)

In [8]:
# # transforma KAST e HS% em porcentagens, que atualmente estão de 0 a 100:
for coluna in listas[2]:
    df[coluna] = df[coluna]/100
    df[coluna+'-t'] = df[coluna+'-t']/100
    df[coluna+'-ct'] = df[coluna+'-ct']/100

In [9]:
# cria uma coluna booleana 'separador', que é True sempre que a linha é preenchida por NaN, usadas para separar partidas
df = pd.concat([df, df.isnull().apply(lambda x: all(x), axis=1)], axis = 1)
df = df.rename(columns = {0 : 'separador'})

# # recupera os índices das linhas que separam as partidas
separa = df[df['separador'] == True].index.tolist()
separa = [-1] + separa

In [10]:
resultado = df[['scores_team_1', 'scores_team_2']]
#df = df.drop(columns = ['scores_team_1', 'scores_team_2'])

resultado = pd.concat([resultado, pd.Series(np.empty(resultado.shape[0], dtype=float))], axis = 1)
resultado = resultado.rename(columns = {0 : 'vitoria_team_1'})

In [11]:
for i in range(len(separa)-1):
    if resultado.iloc[separa[i]+1,0] > resultado.iloc[separa[i]+1,1]:
        resultado.iloc[separa[i]+1:separa[i+1],2] = 1
    elif resultado.iloc[separa[i]+1,1] > resultado.iloc[separa[i]+1,0]:
        resultado.iloc[separa[i]+1:separa[i+1],2] = -1

In [13]:
colunas = df.loc[:,'scores_team_1':].columns.tolist()
teste = pd.DataFrame()

for i in range(len(separa)-1):
    
    temp = df[colunas].iloc[separa[i]+1:separa[i+1], :]
    temp = temp.reset_index()
    z = 0
    serie = 0
    tamanho = separa[i+1] - (separa[i] + 1)
    
    while z<5 :
    
        if temp.loc[z+serie, 'scores_team_1'] == 13.0 or temp.loc[z+serie, 'scores_team_2'] == 13.0:
            
            Map = temp.loc[:, 'Map '+str(z+1)+'Player-name' : 'Map '+str(z+1)+'FK-FD-ct']                

            if (Map.isnull() == False).all(axis = None):
                    
                if temp.loc[z+serie, 'scores_team_1'] > temp.loc[z+serie, 'scores_team_2']:

                    Map = pd.concat( [Map, pd.DataFrame(np.ones(tamanho))], axis = 1 )

                elif temp.loc[z+serie, 'scores_team_1'] < temp.loc[z+serie, 'scores_team_2']:

                    Map = pd.concat( [Map, pd.DataFrame(-np.ones(tamanho))], axis = 1 )

                else:
                    print('z+serie: ', z+serie, 'serie: ', serie)
                    print(temp.loc[z+serie, 'scores_team_1':])
                
                Map.columns = range(Map.columns.size)
                
                x = np.empty((1,Map.columns.size))
                
                x.fill(np.nan)
                
                Map = pd.concat( [Map, pd.DataFrame(x)], axis = 0 )
                
                teste = pd.concat([teste, Map])
                
                

        elif temp.loc[z+1, 'scores_team_1'] == 13.0 or temp.loc[z+1, 'scores_team_2'] == 13.0:            
            
            Map = temp.loc[:, 'Map '+str(z+1)+'Player-name' : 'Map '+str(z+1)+'FK-FD-ct']
            
            if (Map.isnull() == False).all(axis = None):     
                
                if temp.loc[z+1, 'scores_team_1'] > temp.loc[z+1, 'scores_team_2']:

                    Map = pd.concat( [Map, pd.DataFrame(np.ones(tamanho))], axis = 1 )

                elif temp.loc[z+1, 'scores_team_1'] < temp.loc[z+1, 'scores_team_2']:

                    Map = pd.concat( [Map, pd.DataFrame(-np.ones(tamanho))], axis = 1 )

                else:
                    print('serie_B')
                    print(temp.loc[z+1, 'scores_team_1':])
                
                Map.columns = range(Map.columns.size)
                
                x = np.empty((1,Map.columns.size))
                
                x.fill(np.nan)
                
                Map = pd.concat( [Map, pd.DataFrame(x)], axis = 0 )
                
                teste = pd.concat([teste, Map])
            
            serie = 1
            
        else:    
            z = 5
            
        z += 1
    
teste = teste.reset_index(drop = True)
teste

serie_B
scores_team_1             13.0
scores_team_2             13.0
Map 1Player-name    jcrueL COL
Map 1R                     1.2
Map 1R-t                  0.99
                       ...
Map 5FD-ct                 NaN
Map 5FK-FD                 NaN
Map 5FK-FD-t               NaN
Map 5FK-FD-ct              NaN
separador                False
Name: 1, Length: 188, dtype: object

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,artn RR,1.27,1.32,1.19,246.0,235.0,262.0,18.0,11.0,7.0,...,1.0,0.0,1.0,2.0,2.0,0.0,-1.0,-2.0,1.0,1.0
1,Jinggg RR,1.25,1.08,1.48,277.0,205.0,374.0,21.0,9.0,12.0,...,7.0,4.0,3.0,4.0,3.0,1.0,3.0,1.0,2.0,1.0
2,FREY RR,1.15,1.07,1.24,241.0,270.0,203.0,18.0,11.0,7.0,...,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,-1.0,1.0
3,Salvestro RR,1.09,1.11,1.07,168.0,200.0,127.0,12.0,9.0,3.0,...,1.0,0.0,1.0,2.0,1.0,1.0,-1.0,-1.0,0.0,1.0
4,Maskon RR,0.90,0.80,1.04,221.0,178.0,279.0,15.0,7.0,8.0,...,2.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,crashies NRG,1.14,1.12,1.21,175.0,162.0,209.0,11.0,8.0,3.0,...,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,-1.0
9,ardiis NRG,1.14,1.00,1.49,258.0,235.0,314.0,13.0,8.0,5.0,...,5.0,2.0,3.0,4.0,3.0,1.0,1.0,-1.0,2.0,-1.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
colunas = df.loc[:,'Player-name':'FK-FD-ct'].columns.tolist()
colunas = colunas + ['Resultado']
teste.columns = colunas
teste.head()

,Player-name,R,R-t,R-ct,ACS,ACS-t,ACS-ct,K,K-t,K-ct,...,FK,FK-t,FK-ct,FD,FD-t,FD-ct,FK-FD,FK-FD-t,FK-FD-ct,Resultado
0,artn RR,1.27,1.32,1.19,246.0,235.0,262.0,18.0,11.0,7.0,...,1.0,0.0,1.0,2.0,2.0,0.0,-1.0,-2.0,1.0,1.0
1,Jinggg RR,1.25,1.08,1.48,277.0,205.0,374.0,21.0,9.0,12.0,...,7.0,4.0,3.0,4.0,3.0,1.0,3.0,1.0,2.0,1.0
2,FREY RR,1.15,1.07,1.24,241.0,270.0,203.0,18.0,11.0,7.0,...,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,-1.0,1.0
3,Salvestro RR,1.09,1.11,1.07,168.0,200.0,127.0,12.0,9.0,3.0,...,1.0,0.0,1.0,2.0,1.0,1.0,-1.0,-1.0,0.0,1.0
4,Maskon RR,0.90,0.80,1.04,221.0,178.0,279.0,15.0,7.0,8.0,...,2.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0

In [64]:
teste.to_csv('todos_os_mapas.csv')

In [65]:
teste0

,Player-name,R,R-t,R-ct,ACS,ACS-t,ACS-ct,K,K-t,K-ct,...,FK,FK-t,FK-ct,FD,FD-t,FD-ct,FK-FD,FK-FD-t,FK-FD-ct,Resultado
0,artn RR,1.27,1.32,1.19,246.0,235.0,262.0,18.0,11.0,7.0,...,1.0,0.0,1.0,2.0,2.0,0.0,-1.0,-2.0,1.0,1.0
1,Jinggg RR,1.25,1.08,1.48,277.0,205.0,374.0,21.0,9.0,12.0,...,7.0,4.0,3.0,4.0,3.0,1.0,3.0,1.0,2.0,1.0
2,FREY RR,1.15,1.07,1.24,241.0,270.0,203.0,18.0,11.0,7.0,...,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,-1.0,1.0
3,Salvestro RR,1.09,1.11,1.07,168.0,200.0,127.0,12.0,9.0,3.0,...,1.0,0.0,1.0,2.0,1.0,1.0,-1.0,-1.0,0.0,1.0
4,Maskon RR,0.90,0.80,1.04,221.0,178.0,279.0,15.0,7.0,8.0,...,2.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307036,s0m NRG,1.42,1.33,1.62,242.0,205.0,331.0,16.0,11.0,5.0,...,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,-1.0,-1.0
307037,FiNESSE NRG,1.22,1.42,0.75,205.0,237.0,131.0,13.0,11.0,2.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,-1.0
307038,crashies NRG,1.14,1.12,1.21,175.0,162.0,209.0,11.0,8.0,3.0,...,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,-1.0
307039,ardiis NRG,1.14,1.00,1.49,258.0,235.0,314.0,13.0,8.0,5.0,...,5.0,2.0,3.0,4.0,3.0,1.0,1.0,-1.0,2.0,-1.0
307042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
colunas = df.loc[:,'scores_team_1':].columns.tolist()
#colunas = ['Player-name', 'R', 'ACS', 'K', 'D', 'A', 'K-D', 'ADR', 'FK', 'FD', 'FK-FD', 'KAST', 'HS%']

teste = pd.DataFrame()
for i in range(len(separa)-1):
    temp = df[colunas].iloc[separa[i]+1:separa[i+1], :]
    if (temp.isnull() == False).all(axis = None):
        teste = pd.concat([teste, df[colunas].iloc[separa[i]:separa[i+1], :]])
del temp
teste = teste.reset_index(drop = True)
teste

,Player-name,R,ACS,K,D,A,K-D,ADR,FK,FD,FK-FD,KAST,HS%
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jinggg RR,1.16,266.0,59.0,49.0,9.0,10.0,156.0,13.0,9.0,4.0,0.75,0.16
2,FREY RR,1.08,221.0,48.0,41.0,13.0,7.0,143.0,2.0,3.0,-1.0,0.71,0.19
3,Salvestro RR,0.96,181.0,36.0,42.0,33.0,-6.0,129.0,5.0,5.0,0.0,0.76,0.30
4,Maskon RR,0.92,220.0,47.0,50.0,16.0,-3.0,135.0,8.0,7.0,1.0,0.70,0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166273,Victor NRG,1.30,254.0,72.0,49.0,28.0,23.0,162.0,11.0,11.0,0.0,0.81,0.24
166274,s0m NRG,1.25,224.0,74.0,50.0,28.0,24.0,149.0,5.0,5.0,0.0,0.84,0.26
166275,ardiis NRG,1.17,238.0,68.0,56.0,23.0,12.0,153.0,23.0,11.0,12.0,0.78,0.13
166276,crashies NRG,1.08,165.0,46.0,50.0,45.0,-4.0,107.0,4.0,6.0,-2.0,0.82,0.23
166277,FiNESSE NRG,1.05,173.0,49.0,50.0,22.0,-1.0,114.0,6.0,3.0,3.0,0.76,0.21

In [13]:
temp1 = []
temp2 = []
for index, jogador in teste[['Player-name']].iterrows():
    if type(teste['Player-name'][index]) != type(1.0) and len(teste['Player-name'][index].split()) != 0:
        nome = teste['Player-name'][index].split()
        temp1.append(nome[-1])
        temp2.append(''.join(nome[:-1]))
    else:
        temp1.append(np.nan)
        temp2.append(np.nan)
teste = teste.drop(columns = ['Player-name'])
teste = pd.concat([teste, pd.DataFrame(temp1)], axis = 1)
teste = pd.concat([teste, pd.DataFrame(temp2)], axis = 1)
teste

,R,ACS,K,D,A,K-D,ADR,FK,FD,FK-FD,KAST,HS%,0,0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.16,266.0,59.0,49.0,9.0,10.0,156.0,13.0,9.0,4.0,0.75,0.16,RR,Jinggg
2,1.08,221.0,48.0,41.0,13.0,7.0,143.0,2.0,3.0,-1.0,0.71,0.19,RR,FREY
3,0.96,181.0,36.0,42.0,33.0,-6.0,129.0,5.0,5.0,0.0,0.76,0.30,RR,Salvestro
4,0.92,220.0,47.0,50.0,16.0,-3.0,135.0,8.0,7.0,1.0,0.70,0.26,RR,Maskon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166273,1.30,254.0,72.0,49.0,28.0,23.0,162.0,11.0,11.0,0.0,0.81,0.24,NRG,Victor
166274,1.25,224.0,74.0,50.0,28.0,24.0,149.0,5.0,5.0,0.0,0.84,0.26,NRG,s0m
166275,1.17,238.0,68.0,56.0,23.0,12.0,153.0,23.0,11.0,12.0,0.78,0.13,NRG,ardiis
166276,1.08,165.0,46.0,50.0,45.0,-4.0,107.0,4.0,6.0,-2.0,0.82,0.23,NRG,crashies
166277,1.05,173.0,49.0,50.0,22.0,-1.0,114.0,6.0,3.0,3.0,0.76,0.21,NRG,FiNESSE

In [14]:
cols = teste.columns.tolist()
cols[-2] = 'Team'
cols[-1] = 'Player-name'
teste.columns = cols
teste

,R,ACS,K,D,A,K-D,ADR,FK,FD,FK-FD,KAST,HS%,Team,Player-name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.16,266.0,59.0,49.0,9.0,10.0,156.0,13.0,9.0,4.0,0.75,0.16,RR,Jinggg
2,1.08,221.0,48.0,41.0,13.0,7.0,143.0,2.0,3.0,-1.0,0.71,0.19,RR,FREY
3,0.96,181.0,36.0,42.0,33.0,-6.0,129.0,5.0,5.0,0.0,0.76,0.30,RR,Salvestro
4,0.92,220.0,47.0,50.0,16.0,-3.0,135.0,8.0,7.0,1.0,0.70,0.26,RR,Maskon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166273,1.30,254.0,72.0,49.0,28.0,23.0,162.0,11.0,11.0,0.0,0.81,0.24,NRG,Victor
166274,1.25,224.0,74.0,50.0,28.0,24.0,149.0,5.0,5.0,0.0,0.84,0.26,NRG,s0m
166275,1.17,238.0,68.0,56.0,23.0,12.0,153.0,23.0,11.0,12.0,0.78,0.13,NRG,ardiis
166276,1.08,165.0,46.0,50.0,45.0,-4.0,107.0,4.0,6.0,-2.0,0.82,0.23,NRG,crashies
166277,1.05,173.0,49.0,50.0,22.0,-1.0,114.0,6.0,3.0,3.0,0.76,0.21,NRG,FiNESSE

In [15]:
teste.to_csv('easy_testing.csv')

In [ ]:
# # teste rápido de uma regressão logística
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

colunas_testadas = ['K-D', 'FK-FD']
falso = []
temp_x = []
for j in range(len(colunas_testadas)):
    falso.append(False)
    for k in range(10):
        temp_x.append([0])
falso = tuple(falso)
temp_x = np.array(temp_x)
print(temp_x.shape)
temp_y = []
for i in range(len(separa)-1):
    if separa[i+1] - separa[i] == 11:
        
        temp = df[colunas_testadas].iloc[separa[i]+1:separa[i+1]]
        
        try:
            if temp.isnull().value_counts()[falso] == 10 and resultado.iloc[separa[i]+1,2] != 0:
                temp = np.resize(np.array(temp.transpose()), (10*len(colunas_testadas),1))
                temp_x = np.append(temp_x, temp, axis = 1)
                temp_y.append(resultado.iloc[separa[i]+1,2])
        except:
            pass
del temp
temp_x = np.delete(temp_x, 0, 1)        
X = np.transpose(temp_x)
y = np.array(temp_y)
del temp_x, temp_y

In [ ]:
scaler = preprocessing.StandardScaler().fit(X)
X = scaler.transform(X)

In [ ]:

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=2050)

logisticRegr = LogisticRegression()

logisticRegr.fit(x_train, y_train)

predictions = logisticRegr.predict(x_test)

score = logisticRegr.score(x_test, y_test)
print(score)

In [ ]:
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, predictions)
print(cm)

In [ ]:
logisticRegr.coef_